.faucet-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px black solid; */
}
.faucet{
    transform:translateY(-50%);
    /* border: 1px black solid; */
}